---
Language: C
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
IndentCaseLabels: true
---
Language: Cpp
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
IndentCaseLabels: true
---
